body
{
    background-image: url("../image/main_background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;    /* фон не прокручивается вместе со страницей */
    background-size: 50% 100%;
}

form
{
    width: 35%;
    margin: auto;        /*поместить форму по центру */
    padding: 10%;
}

.data_input
{
    width: 50%;
}

